* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* STUDIOUS */
.title h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.feature-img i {
    font-size: 30px;
    line-height: 70px;
}

.feature-info h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.feature-info a:hover {
    text-decoration: none;
    transition: .5s all;
    color: #ff6e65;
}


/* title ở các section -> gọi class trong thẻ h */
.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.title span {
    color: #ff6e65;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #707070;
    margin: 0 auto;
    right: 0;
}

.title::before {
    left: -20px;
    bottom: -8px;
}

.title::after {
    left: 20px;
    bottom: -15px;
}

/* button phần này chỉnh lại màu nha (như contact) */
.btn-style {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    transition: all 0.5s;
}

.contact .btn-style {
    background-color: #ff6e65;
    color: #fff;
}

.contact .btn-style:hover {
    background-color: #0d369f;
}

/* instructor */
.instructor .card {
    padding: 10px;
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
    border-color: transparent;
    border-radius: 8px;
}

.instructor__img {
    position: relative;
    overflow: hidden;
}

.instructor__social {
    position: absolute;
    width: 100%;
    background: rgba(8, 8, 8, 0.3);
    padding: 20px 0;
    left: 0;
    bottom: -100px;
    transition: all 0.5s;
}

.instructor__social a {
    color: #0d369f;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    display: inline-block;
}

.instructor__social i {
    font-size: 12px;
    text-align: center;
}

.instructor__img img {
    width: 100%;
}

.instructor__name a {
    font-weight: 600;
    color: #060606;
    transition: all 0.5s;
}

.instructor .card-body p {
    font-size: 13px;
    font-weight: 400;
}

.instructor .card:hover .instructor__social {
    bottom: 0;
}

.instructor .card:hover .card-body .instructor__name a {
    color: #ff6e65;
}

@media screen and (max-width: 992px) {
    .instructor .card {
        margin-bottom: 30px;
    }
}

/* contact */
.contact .contact__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.contact img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.contact p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
}