* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.title span {
    color: #ff6e65;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #707070;
    margin: 0 auto;
    right: 0;
}

.title::before {
    left: -20px;
    bottom: -8px;
}

.title::after {
    left: 20px;
    bottom: -15px;
}

.btn-style {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    transition: all 0.5s;
}

/* HEADER */
.header__top {
    background-color: #0d369f;
    font-size: 16px;
    padding: 14px 15px;
}

.header__top a {
    text-decoration: none;
    padding-top: 10px;
    margin-top: 10px;
    color: #fff;
    transition: all 0.5s;
}

.header__top a i {
    font-size: 14px;
}

.header__top a:hover {
    color: #ff6e65;
}

.header__bottom {
    height: 90px;
}

.navbar .navbar-brand h3 {
    padding-top: 10px;
    margin-left: 10px;
}

.navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: all 0.5s;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #0d369f;
    font-weight: bold;
}

.form-inline i {
    padding-left: 12rem;
}

a.navbar-brand:hover {
    color: #ff6e65;
}

.navbar-nav .nav-item.active a {
    color: #ff6e65;
}

.navbar-nav .nav-item a:hover {
    color: #ff6e65;
}

.custom__fixed__top {
    /* top: 52px; */
    width: 100%;
    padding: 20px;
}

.scroll-active {
    position: fixed;
    top: 0px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 1px 1px #0000001f;
    z-index: 999;


}

.navbar-nav {
    padding-right: 20px;
    justify-content: right;
    width: 90%;
}

.form-control {
    border-radius: 50px;
    height: 40px;
    width: 263px;
}

.navbar .navbar-toggler {
    background-color: #0d369f;
    color: #fff;
    border-radius: 0px;
}

.form-responsive {
    justify-content: flex-end;
    margin-right: 10px;
}

.icon-search {
    right: 25px;
}

/* CAROUSEL */
.carousel-item:nth-child(1) {
    background-image: url(../images/banner2.jpg);
    height: 747px;
    background-size: cover;
    background-position: center;

}

.carousel-item:nth-child(2) {
    background-image: url(../images/banner3.jpg);
    height: 747px;
    background-size: cover;
    background-position: center;

}

.carousel-caption h3 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;

}

.caption__text {
    width: 100%;
    text-align: left;
    transform: translateY(-192px)
}


.btn-style {
    border: 1px solid black;
    background-color: #fff;
    color: #060606;
    font-weight: bold;
}

.carousel-indicators {
    flex-direction: column;
    /* left: auto;
    right: -240px; */
    align-items: end;
    margin: 0;
    bottom: 40px;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;

}

.carousel-indicators li.active {
    background-color: #ff6e65;
}

/* FEATURES */
.card {
    text-align: center;

    padding: 25px 20px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 10px;
}

.color-1 {
    background-color: #037ef3;
}

.color-2 {
    background-color: #ffc949;
    ;
}

.color-3 {
    background-color: #ff4f81;
}

.color-4 {
    background-color: #1ee697;
}

.card .card-body i {
    font-size: 40px;
    color: white;
    margin-bottom: 25px;
}

.card .card-body h4 a {
    color: white;
    font-weight: 600;
    transition: all 0.5s;
}

.card .card-body h4 a:hover {
    color: #000;
}

/* STUDIOUS */
.title h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.feature-img i {
    font-size: 30px;
    line-height: 70px;
}

.feature-info h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.feature-info a:hover {
    text-decoration: none;
    transition: .5s all;
    color: #ff6e65;
}



a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* STUDIOUS */
.title h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.feature-img i {
    font-size: 30px;
    line-height: 70px;
}

.feature-info h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.feature-info a:hover {
    text-decoration: none;
    transition: .5s all;
    color: #ff6e65;
}

/* STUDIOUS */
.feature-img i {
    font-size: 30px;
    line-height: 70px;
}

.feature-info h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.feature-info a:hover {
    text-decoration: none;
    transition: .5s all;
    color: #ff6e65;
}



a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* STUDIOUS */
.feature-img i {
    font-size: 30px;
    line-height: 70px;
}

.feature-info h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.feature-info a:hover {
    text-decoration: none;
    transition: .5s all;
    color: #ff6e65;
}

/* SERVICES */
.services-container {
    background-image: url(../images/services.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.services-content row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.services-content .icon {
    margin-right: 1rem;
}

.services-content .icon i {
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 66px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
}

.services-content h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 6px;
}

.services .text {
    background-color: white;
    padding: 30px;
    border-radius: 8px;


    display: flex;
    justify-content: center;
    align-items: center;
}

/* NUMBER */
.number-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.title h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.number-container p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.4px;
}

.timer {
    font-size: 46px;
    font-weight: 600;
}

.counter-text {
    text-transform: uppercase;
}

/* FEEDBACK */

.testimonials {
    background: white;
    border-radius: 4px;
    box-shadow: 0 20px 62px #0414451a;
    padding: 2rem
}

.testimonials p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
}

.info-text {
    grid-template-columns: 3fr 1fr;
    align-items: center;
    grid-gap: 5px;
    margin-top: 20px;
}

.info-text {
    display: flex;
}

.text-img img {
    border-radius: 50%;
}

.text-left h5 {
    font-size: 1.5rem;
}

.text-left p {
    font-size: 16px;
}

/* INSTRUCTOR */
.instructor .card {
    padding: 10px;
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
    border-color: transparent;
    border-radius: 8px;
}

.instructor__img {
    position: relative;
    overflow: hidden;
}

.instructor__social {
    position: absolute;
    width: 100%;
    background: rgba(8, 8, 8, 0.3);
    padding: 20px 0;
    left: 0;
    bottom: -100px;
    transition: all 0.5s;
}

.instructor__social a {
    color: #0d369f;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    display: inline-block;
}

.instructor__social i {
    font-size: 12px;
    text-align: center;
}

.instructor__img img {
    width: 100%;
}

.instructor__name a {
    font-weight: 600;
    color: #060606;
    transition: all 0.5s;
}

.instructor .card-body p {
    font-size: 13px;
    font-weight: 400;
}

.instructor .card:hover .instructor__social {
    bottom: 0;
}

.instructor .card:hover .card-body .instructor__name a {
    color: #ff6e65;
}

@media screen and (max-width: 992px) {
    .instructor .card {
        margin-bottom: 30px;
    }
}

/* CONTACT */
.contact .contact__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.contact img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.contact p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
}

.contact .btn-style {
    background-color: #ff6e65;
    color: #fff;
}

.contact .btn-style:hover {
    background-color: #0d369f;
}

/* FOOTER */
.footer__top {
    padding: 80px 0;
    background: #060e1f;
    position: relative;
}

.footer__sub {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px -1px 41px 0px rgba(21, 22, 23, 0.1);
    position: absolute;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    left: 0;
    right: 0;
    top: -100px;
}

.footer__sub .footer__sub__title h1 {
    color: #060606;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
}

.footer__sub .footer__sub__title p {
    color: #707070;
    font-size: 15px;
    letter-spacing: 1px;
}

.footer__sub .footer__form {
    display: flex
}

.footer__sub .footer__form input {
    background: transparent;
    padding: 15px 20px;
    font-size: 16px;
    color: #060606;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
    transition: all 0.5s;
}

.footer__sub .footer__form input:focus {
    color: #495057;
    border-color: #91e6c4;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(46, 202, 139, 0.25);
}

.footer__sub .footer__form .btn-style {
    color: #fff;
    background: #0d369f;
    border-radius: 0px 8px 8px 0px;
}

.footer__content {
    margin-top: 120px;
}

.footer__content h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #cecece;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
}

.footer__content a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.footer__content a i {
    font-size: 11px;
    color: #cecece;
    padding-right: 5px;
}

.footer__content li:hover a {
    color: #fff;
}

.footer__contact p {
    font-size: 15px;
    color: #cecece;
    line-height: 30px;
    margin-bottom: 15px;
}

.footer__contact p i {
    font-size: 20px;
    margin-right: 15px;
}

.footer__contact p:hover {
    color: #fff;
}

.footerAbout {
    border-left: 1px solid rgba(23, 54, 88, 0.4);
    color: #cecece;
}

.footer__social {
    display: flex;
}

.footer__social a.footer__iconSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    margin-right: 10px;
}

.footer__social a i {
    font-size: 13px;
    padding: 0;
}

.footer__bottom {
    background: #040a17;
    padding: 20px 0;
}

.footer__bottom p {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}

.footer__bottom p a {
    color: #fff;
}

.footer__bottom p a:hover {
    text-decoration: underline;
}

/* BACK TO TOP */
.backToTop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.cd-top--is-visible {
    /* back-to-top button visible */
    visibility: visible;
    opacity: 1;
}

.backToTop i {
    background: #0d369f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
}

/************************ REPONSIVE *********************************/
/* HEADER */
@media screen and (max-width:992px) {
    .header-main {
        width: 100%;
        height: auto;
        position: fixed;
        background: transparent;
        top: 0;
        z-index: 99;
    }

    .header__top {
        display: none !important;
    }

    .header__bottom {
        position: relative;
    }

    .custom__fixed__top {
        position: fixed;
        top: 0;

        /* background-color: #fff; */
        /* box-shadow: 1px 1px #0000001f; */
        z-index: 999;

    }

    .navbar-nav {
        width: 100%;
        background: #fff;
        align-items: center;
    }

    .form-responsive {
        width: 100%;

        background: #fff;
        justify-content: center;
    }

    .icon-moon {
        position: absolute;
        top: 37px;
        right: 90px;
    }

    .card {
        margin-bottom: 20px;
    }
}

/* INSTRUCTOR */
@media screen and (max-width: 992px) {
    .instructor .card {
        margin-bottom: 30px;
    }
}

/* FOOTER */
@media screen and (max-width: 768px) {
    .footer__content {
        margin-top: 150px;
    }
}